bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

bookmark-service

.idea/
*.iwb
*.iws

.vscode/

.env
.env.*
!.env.example

vendor/

*.log
coverage.txt
*.out
*.test
coverage
coverage.html
coverage.tmp
